.banner{
    background: url("https://images.pexels.com/photos/756084/pexels-photo-756084.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load")
     center center;
    height: 50vh;
    position: relative;
}

.banner__info{
    background-color: black;
    color: #fff;
    padding-top: 14vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__search{
    display: flex;
    flex-direction: column;
}

.banner__searchButton{
    background-color: #fff !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;

}

.banner__info > button{
    background-color: #ff7779;
    color: #fff;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover{
    background-color: #fff;
    color: #ff7779;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > h5{
    margin-top: 10px;
}